/* ---------------------------------------------------------------------------------------- */

/* Gerais */
.padrao1 {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 0 14% 0 14%;
}

.padrao2 {
  background-color: #6080c3;
  text-align: center;
  padding: 0 14% 0 14%;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

body{
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

header{
  font-weight: 700;
  padding: 20px;
  color: #f6da71;
}

h1{
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    color: #f6da71;
    margin-bottom: 10px;
}

h3{
  font-size: 0.8rem;
}

p {
    color:#fff;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

/* ---------------------------------------------------------------------------------------- */


/* Variáveis */
.mb-30{
  margin-bottom: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-7{
  margin-right: 7%;
}


/* ---------------------------------------------------------------------------------------- */


/* Regras */
/*navbar*/
.img-brand{
  width: 50px;
}

.navbar{
  background-color:  #EB212E;
}

.nav-link{
  font-weight: 700;
  color: white;
  font-size: 0.9rem;
}

.nav-item-text{
  padding-right: 20px;
}

.hamburguer-icon{
  color: white;
}

.img-redes{
  padding-right: 20px;
  color: white;
  font-size: 2.5rem;
}

/* header*/
.cadastro{
  text-align: left;
  padding: 1.5% 0 4%;
}

.text-cadastro{
  font-family: 'Montserrat', 'principal';
  font-weight: 700;
  color: white;
  font-size: 0.8rem;
}

.btn-primary{
  background-color: #6080c3;
  border-color: #6080c3;
}

.redes-sociais{
  text-align: right;
}

.img-redes:hover{
  color: #f6da71;
}
/*logo */
.logo{
  margin-top: 5%;
}

.logo-box{
  text-align: center;
}

.text-logo-box{
  margin: auto;
  padding: 3%;
}

.text-logo{
  padding-bottom: 5%;
}

.destaque{
  font-size: 1.1rem;
}

.download-buttons{
  text-align: center;
}

/*funcoes*/
.text-descricao{
  margin: 4% 0 0;
  padding-bottom: 5%;
}

.video-box-youtube{
  text-align: center;
}

.video-youtube{
  min-width: 80%;
  height: 300px;
}

.video-youtube-doacao{
  height: 500px;
  width: 1500px;
  max-width: 100%;
}

.video-youtube-campanha{
  margin: 20px 20px 0 20px;
  max-width: 100%;
  height: 400px;
}


/*banner*/
.banner{
  background-image: url("../images/bg-trans.png");
  background-size: cover;
}

/*pratico*/

.img-pratico-box{
  text-align: center;
  max-height: 400px;
}

.img-pratico{
  height: 100%;
  padding: 2%;
}


/*empresas e pessoas*/
.empresas-logo{
  max-width: 270px;
}

.empresas-logo-ms{
  max-width: 330px;
}

.carousel-control-prev{
    width: 4%
}

.carousel-control-next{
    width: 4%
}


.car-box{
  padding: 20px 50px 30px;
  height: 100%;
  background-color: #EB212E;
}

.car-1-video{
  height: 500px;
  width: 800px;
  max-width: 80%;
}

.car-2-video{
  height: 500px;
  width: 1500px;
  max-width: 100%;
}

/*video*/
.video-box{
  text-align: center;
}

.video{
  padding: 0 2%;
  max-width:100%;
}

.box{
  text-align: center;
}

/*contato*/
.img-contato{
  width: 15%;
  margin-bottom: 2%;
}

.nav-link:hover{
  color: #f6da71;
}

.text-link-contato:hover{
  color: #f6da71;
}

.link-contato:hover{
  text-decoration: none;
}

 .fa-contato{
  font-size: 4rem;
 }

/*parceiros*/
.img-parceiros{
  max-height: 150px;
}
/*apoio*/
.img-apoio{
  width: 70%;
  margin-bottom: 2%;
}

.img-apoio-bmk{
  width: 55%;
}

/*footer*/
.footer{
  text-align: center;
  padding: 5% 0 1%;
  background-color: #6080c3;
}

.fim-padrao-1{
  margin-bottom: 0;
}

.hyper-instituto{
  color: white;
}

.hyper-instituto:hover{
  text-decoration: none;
  color: #f6da71;
}


/*ajustes pra mobile*/
@media (max-width: 1000px){
  .video-youtube-doacao{
    height: 200px;
    width: 1500px;
    max-width: 100%;
  }

  .qr-code{
    display: none;
  }

  .padrao1 {
    padding: 0 10% 0 8%;
  }

  .padrao2 {
    padding: 0 10% 0 8%;
  }

  .a-text-cadastro{
    margin-top: 10px;
  }

  .cadastro{
    text-align: center;
  }

  .redes-sociais{
    text-align: center;
  }

  .pratico{
    margin-top: 0px;
  }

  .img-pratico{
    width: 50%;

  }

  .text-contato{
    font-size: 1rem;
  }

  .img-apoio{
    width: 70%;
    margin-bottom: 7%;
  }

}
